@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 0;
}
.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600px;
  padding:15px 30px;
  color:#000;
  background-color: #fff;
  border-radius: 4px;
  cursor:pointer;
  border:none;
  outline: none;
  transition: 0.2s;
}
button.normal:hover{
  background-color: #088178;
  color: #fff;
}
body {
  width: 100%;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  color: #088178;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* home main styles */

/* hero section styles */

section#hero {
  background-image: url(images/hero4.png);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
}

#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-color: transparent;
  background-image: url(images/button.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
  padding: 14px 65px 14px 65px;
}

/* feature section styles */

#features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#features .f-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  transition: box-shadow 0.3s;
}
#features .f-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}
#features .f-box img {
  width: 100%;
  margin-bottom: 10px;
}
#features .f-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#features .f-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .f-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .f-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#features .f-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .f-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* feature section styles */

#f-products .pro-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 60px;
}
#f-products h1, #f-products p{
  text-align: center;
}
#f-products .product-cart{
  width: 280px;
  border: 1px solid #d8d8d8;
  padding: 13px;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.2s;
}
#f-products .product-cart:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}
#f-products .product-cart img{
  width: 100%;
  border-radius: 25px;

}
#f-products .product-cart span{
  color: #969696;
  font-weight: 500;
  line-height: 30px;
}
#f-products .product-cart h4{
  font-size: 18px;
}
#f-products .product-cart .stars{
  color: #e6ae2c;
  padding: 6px 0;
}
#f-products .product-cart .price{
  color: #088178;
  padding: 4px 0;
}
#f-products .product-cart .buy-icon{
  color: #088178;
  background-color: #c7e9e75e;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* off banner section styles */

#off-banner{
  background-image: url(images/banner/b2.jpg);
  background-size:cover;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#off-banner h4{
  color: #eaebf0;
}
#off-banner h2{
  color: #eaebf0;
  padding: 20px 0;
}

